/* 

--- 01 TYPOGRAPHY

-- FONT SIZE (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-- Font weights:
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700

-- Line heights:
Default: 1
Small:1 .05
medium: 1.2
large: 1.8

Paragraph default: 1.6

-- Letter spacing
- 0.5px
- 0.75px

--- 02 COLORS
-- Primary: #4287f5

--- Tints:
#ecf3fe
#d9e7fd

--- Shades:
#3b7add


---- Secondary:#75dff0


-- Greys
#555
#f3f3f3


*/

/* GLOBAL RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16 = 0.625 = 62.5% */
  /* Percentage of users browsers font-size settings */
  font-size: 62.5%;
}

body {
  font-family: "PT Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #f3f3f3;
}

/* *************************** */
/* GENERAL REUSABLE COMPONENTS */
/* *************************** */

.container {
  /* 1140 */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.primary-heading {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #4287f5;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.label {
  display: block;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.link:link,
.link:visited {
  text-decoration: none;

  transition: all 0.3s ease;
}

.btn {
  all: unset;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center;
}

.color {
  color: #333 !important;
}

/* 
*************************************
COMPONENTS WITH THE SAME PROPERTIES
*************************************
*/
.btn-post-package,
.btn-get-price-sug,
.btn-search-package {
  all: unset;
  cursor: pointer;
  padding: 1.2rem 0;
  border-radius: 1rem;
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  background-color: #4287f5;
  color: #fff;
}
.btn-post-package:hover,
.btn-get-price-sug:hover {
  background-color: #3b7add;
}

.header-track-package,
.header-track-package-form {
  font-size: 1.6rem;
}

.login-form,
.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.input-login,
.input-sign-up {
  background-color: inherit;
  width: 100%;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  text-align: left;
  font-size: 1.4rem;

  border: 1px solid #4287f5;
  margin-bottom: 3rem;
}
.btn-login,
.btn-create {
  background-color: #4287f5;
  width: 50%;
  color: #fff;
  padding: 1.5rem 3rem;

  transition: all 0.4s;
}

.btn-login:hover,
.btn-login:active,
.btn-create:hover,
.btn-create:active {
  background-color: #3b7add;
  transform: scale(1.1);
}
.link.sign-up,
.link.to-login {
  color: #4287f5;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 600;
}
.sign-up:hover,
.sign-up:active,
.to-login:hover,
.to-login:active {
  color: #3b7add;
}

/* HELPER/SETTINGS CLASSES */
.margin-right-large {
  margin-right: 10rem !important;
}

.margin-bottom-small {
  margin-bottom: 3rem !important;
}

.margin-bottom-medium {
  margin-bottom: 4.8rem !important;
}

.margin-bottom-large {
  margin-bottom: 9rem !important;
}

.text {
  text-align: center;
}
