/* *************************** */
/* BELOW 1344px (Smaller desktops) */
/* *************************** */

@media (max-width: 77em) {
  html {
    /* 8px / 16px */
    font-size: 50%;
  }

  /* INDEX PAGE */
  .hero-header {
    font-size: 5.6rem;
    padding: 0 1rem;
  }

  .how-header {
    font-size: 5rem;
  }

  .how-heading {
    font-size: 1.6rem;
  }
}
